timeout: 180
logfile: cmon-proxy.log
instances:
  - url: 127.0.0.01:9501
    name: kedz-workstation
    username: admin
    password: f559aadc-9361-4059-b392-7645a038247d
  - url: 10.216.188.149:9501
    name: lxd-cmon
    username: cmononlxd
    password: password
  - url: 10.216.188.111:9501
    name: cmon-authfail
    username: authfail
    password: '0xdeadbeef'

